{% extends 'navigationbar.html' %} {% load static %} {% block body %}
<div class="container" style="margin-top: 50px; background-color: rgb(159, 147, 239); color: rgb(231, 68, 14);" >
  <h2 class="text-center">Add Doctor</h2>
  <br /><br />
  <form method="post" action="">
    {% csrf_token %}
    <label for="">Doctor Name</label>
    <input type="text" class="form-control" name="name" required />
    <label for="">Contact</label>
    <input type="text" class="form-control" name="contact" required />
    <label for="">Specialization</label>
    <input type="text" class="form-control" name="special" required />
    <br />
    <input type="submit" value="submit" class="form-control btn-primary" />
  </form>
</div>

{% if error == "no" %}
<script>
  alert("Record Saved Successfully");
  window.location = "{% url 'view_doctor' %}";
</script>
{% endif %} {% if error == "yes" %}
<script>
  alert("Something went wrong, Try Again");
</script>
{% endif %} {% endblock %}
