

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: yellow !important;
    background-color: green !important;
    border-radius: 10px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 24px;
    
}
.navbar-brand:hover {
    font-weight: bold;
    font-size: 24px;
    color: yellow !important;
}
.rounded {
    border-top: 8px solid lightblue;
    border-radius: bold;
}
.mydivstyle:hover {
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
}